html{
    background: rgb(236,252,253)
}
body{
    /* margin: 8rem; */
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
}
h1{
    margin: 1.5rem;
}
form{
    background-color: rgb(246,250, 255);
    width: 40rem;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
label{
    color: rgb(66, 76,97);
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem 0;
}


input,textarea,select{
    font:inherit;
    padding: 0.5rem;
    border: 1px solid rgb(184,184,184);
    box-sizing: border-box;
    border-radius:4px ;
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: rgb(61, 58, 58);
}

input:focus,textarea:focus,select{
background-color: rgb(217, 227, 247);
}
.form-control-inline{
    display: flex;
}

.form-control-inline label{
    margin: 0;
    padding-top: 0.5rem;
}
.form-control-inline input{
    width: auto;
    text-align: center;
    margin-right: 0.5rem;
}
button{
    border: 1px solid rgb(51, 67, 100);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    /* display: flex;
    flex-direction: row;
    justify-content: end; */
}
#form-actions{
text-align: right;
}
.btn-filled{
    background-color: rgb(51, 67, 100);
    color: white;
}
.btn-filled:hover{
    background-color: rgb(69, 89, 129);
}

.btn-empty{
    background-color:transparent;
    color: rgb(51, 67, 100);
}
.btn-empty:hover{
    background-color: rgb(208,215,230);
    color: white;
}